/*

Copyright: 2024 - Aduki Incorporation
Name: Blog & Article Platform
URL: https://github.com/fescii/qval.git
Author: Fredrick Femar Ochieng
Author URL: https://femar.co.ke


/*

  Fonts
  =====

*/

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/*

  Variables
  =========

*/

:root {
  --q-scroll-background: #ddddd7;
  --q-scroll-linear: linear-gradient(#53595f, #627ea0);
  --q-item-background: #ffffffe1;
  --q-item-border: 1px solid #e9e9e9d8;
  --q-item-shadow: 0 8px 32px 0 #eeeeee5e;
  --input-border: 1px solid #6b72805e;
  --input-border-focus: 1px solid #18a5669a;
  --input-border-error: 1px solid #ec4a1965;
  --topic-border-active: thin solid #21d02a7a;

  --q-background: #ffffff;
  --q-gray-background: #e7e7e7d7;

  --accent-color: #08b86f;
  --accent-alt: #21d029;
  --action-color: #627ea0;
  --white-color: #ffffff;
  --q-gray-color: #6b7280;
  --q-text-color: #494d52;
  --q-error-color: #ec4b19;
  --q-anchor-color: #0065c5;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: inherit;
  -webkit-box-sizing: border-box;
}

*:focus {
  outline: inherit !important;
}

*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bar-background);
}

*::-webkit-scrollbar-thumb {
  width: 3px;
  background: var(--scroll-bar-linear);
  border-radius: 50px;
}